/* news opened page */
.news-opened {
  width: 800px;
  margin: 0 auto;
}

.news-content__title {
  padding-top: 200px;
  color: #fff;
  text-align: center;
  font-family: architekt;
      font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
}

.news-opened__banner {
  margin-top: 60px;
  background-color: #eff0f4;
}

.news-opened__banner-img {
  width: 100%;
  height: 460px;
  object-fit: cover;
}

.news-opened__banner-logo-link {
  text-align: center;
  padding: 20px 0 50px 0;
  background-color: #000;
}

.news-opened__banner-logo-link a {
  display: inline-block;
}

.news-opened__logo-img {
  height: 40px;
  object-fit: cover;
}

.news-opened__post {
  padding: 0 46px;
  background-color: #000;
}

.news-opened__post-title {
  color: #fff;
  font-family: robert;
   font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 39.2px */
}

.news-opened__post-date {
  color: #86888a;
  font-family: robert;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 32px 0 20px;
}

ul li{
  color: #fff;
  font-weight: 400;
}

.news-opened__post-content-text {
  margin-bottom: 24px;
  color: #fff;
  font-family: robert;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

ul.news-opened__post-content-text {
  margin-left: 50px;
}

.news-opened__post-content-img {
  display: flex;
  justify-content: center;
}

.news-opened__post-content-img figure {
  width: calc(100% - 80px);
}

.news-opened__post-content-img figure figcaption {
  text-align: center;
  margin: 12px 0;
  font-size: 16px;
}

.news-opened__post-content-img figure figcaption a {
  color: inherit;
}

.news-opened__post-content-img img,
.news-opened__post-content-img iframe {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.news-opened__post-content-title {
  color: rgb(165, 165, 165);
  font-weight: 400;
  margin-bottom: 20px;
}

.news-opened__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 96px 0 201px;
  padding-bottom: 40px;
}

.news-opened__btn-article {
  background-color: #d5b64c;
  color: #000;
  font-family: robert;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 36px;
}

.news-opened__btn-back {
  color: #fff;
  font-family: robert;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 14.4px */
  text-transform: capitalize;
  text-decoration: underline;
  margin-left: 55px;
  padding: 0 !important;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .news-opened {
    padding-top: 80px;
    width: 524px;
    margin: 0 auto;
  }
  .news-opened__btn-back, .news-opened__btn-article {
    font-size: 12px;
  }
  .news-content__title {
    padding-top: 80px;
       font-size: 22px;
  }

  .news-opened__banner {
    margin-top: 48px;
  }

  .news-opened__banner-img {
    height: 296px;
  }

  .news-opened__banner-logo-link {
    padding: 16px 0 36px 0;
  }

  .news-opened__logo-img {
    height: 32px;
  }

  .news-opened__post {
    padding: 0 40px;
  }

  .news-opened__post-title {
    font-size: 20px;
    line-height: 140%;
  }

  .news-opened__post-date {
    font-size: 16px;
    line-height: 150%; /* 24px */
    margin: 32px 0 20px;
  }

  .news-opened__post-content-text {
    margin-bottom: 2vw;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  ul.news-opened__post-content-text {
    margin-left: 4.5vw;
  }

  .news-opened__post-content-img figure {
    width: calc(100% - 5vw);
  }
  .news-opened__post-content-img img{
    width: 100%;
    display: block;
  }

  .news-opened__post-content-img iframe {
    width: 100%;
    height: 225px;
    display: block;
  }

  
  .news-opened__post-content-img figure figcaption {
    margin: 12px 0;
    font-size: 16px;
  }

  .news-opened__post-content-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2vw;
  }

  ul li {
    font-size: 16px;
  }

  .news-opened__btn {
    margin: 70px 0 80px;
    padding-bottom: 70px;
  }

  .news-opened__btn-article {
    padding: 10px 22.5px;
  }
}

@media only screen and (max-width: 767px) {
  .news-opened {
    padding-top: 68px;
    width: 319px;
    margin: 0 auto;
  }
  .news-opened__btn-back, .news-opened__btn-article {
    font-size: 12px;
  }
  .news-content__title {
    padding-top: 40px;
    font-size: 24px;
    line-height: 120%;
  }

  .news-opened__banner {
    margin-top: 24px;
  }

  .news-opened__banner-img {
    height: 180px;
  }

  .news-opened__banner-logo-link {
    padding: 16px 0 36px 0;
  }

  .news-opened__logo-img {
    height: 24px;
  }

  .news-opened__post {
    padding: 0 20px;
  }

  .news-opened__post-title {
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
  }

  .news-opened__post-date {
    font-size: 12px;
    line-height: 140%;
    margin: 8px 0 24px;
  }

  .news-opened__post-content-text {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
  }

  ul.news-opened__post-content-text {
    margin-left: 6.8vw;
  }

  .news-opened__post-content-img img{
    width: 100%;
    height: auto;
    display: block;
  }

  .news-opened__post-content-img iframe {
    width: 100%;
    height: 140px;
    display: block;
  }

  .news-opened__post-content-img figure {
    width: calc(100% - 8vw);
  }

  .news-opened__post-content-img figure figcaption {
    color: #231f20;
    margin: 12px 0;
    font-size: 12px;
  }

  .news-opened__post-content-title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3.33333333vw;
  }

  ul li {
    font-size: 12px;
  }
  
  .news-opened__btn {
    margin: 56px 0 40px;
    padding-bottom: 32px;
  }

  .news-opened__btn-article {
    padding: 10px 16px;
  }
  .news-opened__btn-back {
    margin-left: 36px;
  }
}

@media only screen and (max-width: 374px) {
  .news-opened {
    width: 240px;
  }
  
  .news-opened__post-content-img iframe {
    width: 100%;
    height: 100px;
    display: block;
}
  .news-opened__banner {
    margin-top: 22px;
  }

  .news-opened__btn-article {
    padding: 2.5px 11.5px;
    font-size: 12px;
    line-height: 150%; /* 21px */
  }

  .news-opened__btn {
    margin: 68px 0 40px;
    padding-bottom: 32px;
  }

  .news-opened__btn-back {
    font-size: 12px;
    line-height: 90%; /* 12.6px */
    margin-left: 20px;
  }
}
